In [1]:
import pandas as pd

In [78]:
data = [
    # ['sch_1', '!@sc_1', 'english maths chemistry'],
    # ['sch_2', '))sc_2', 'english physics chemistry'],
    ['sch_3', '!@sc_2', 'maths biology'],
    ['sch_4', 'sc_2)_', 'french'],
    ['sch_5', 'sc_1#@', 'social_studies maths literature'],
    ['sch_6', 'sc_10#@', 'english maths history'],
]

columns = ['school_id', 'state_code', 'subjects']

df = pd.DataFrame(data, columns=columns)
print(df)

  school_id state_code                         subjects
0     sch_3     !@sc_2                    maths biology
1     sch_4     sc_2)_                           french
2     sch_5     sc_1#@  social_studies maths literature
3     sch_6    sc_10#@            english maths history

In [77]:
def alphanum(element):    
    return "".join(filter(str.isalnum, element))

def schoolCount(df):
    # drop all the schools offering fewer than 3 subjects
    df = df[df['subjects'].apply(lambda x: len(x.split())) >= 3]
    
    # clean the state_code column such that it only contains alpha-numeric characters
    df.loc[:,'state_code'] = [alphanum(x) for x in df.state_code]
    
    # for each state, return the number of schools offering English, Maths, Physics and Chemistry, each in a separate column
    subjects_df = df['subjects'].str.get_dummies(' ')
    if not 'english' in subjects_df.columns:
        subjects_df['english'] = 0
    if not 'maths' in subjects_df.columns:
        subjects_df['maths'] = 0
    if not 'physics' in subjects_df.columns:
        subjects_df['physics'] = 0
    if not 'chemistry' in subjects_df.columns:
        subjects_df['chemistry'] = 0
    df = pd.concat([df, subjects_df], axis=1)
    res = df.groupby('state_code')[['english', 'maths', 'physics', 'chemistry']].sum().reset_index()

    return(res)

In [79]:
df = df[df['subjects'].apply(lambda x: len(x.split())) >= 3]

In [80]:
df.loc[:,'state_code'] = [alphanum(x) for x in df.state_code]

In [81]:
subjects_df = df['subjects'].str.get_dummies(' ')
if not 'english' in subjects_df.columns:
    subjects_df['english'] = 0
if not 'maths' in subjects_df.columns:
    subjects_df['maths'] = 0
if not 'physics' in subjects_df.columns:
    subjects_df['physics'] = 0
if not 'chemistry' in subjects_df.columns:
    subjects_df['chemistry'] = 0
df = pd.concat([df, subjects_df], axis=1)
res = df.groupby('state_code')[['english', 'maths', 'physics', 'chemistry']].sum().reset_index()

In [82]:
res

  state_code  english  maths  physics  chemistry
0        sc1        0      1        0          0
1       sc10        1      1        0          0

In [76]:
if not 'chemistry' in subjects_df.columns:
    subjects_df['chemistry'] = 0
if not 'english' in subjects_df.columns:
    subjects_df['english'] = 0
if not 'maths' in subjects_df.columns:
    subjects_df['maths'] = 0
if not 'physics' in subjects_df.columns:
    subjects_df['physics'] = 0

print(subjects_df)

   english  history  literature  maths  social_studies  chemistry
2        0        0           1      1               1          0
3        1        1           0      1               0          0

In [66]:
subjects_df = df['subjects'].str.get_dummies(' ')
df = pd.concat([df, subjects_df], axis=1)
res = df.groupby('state_code')[['english', 'maths', 'physics', 'chemistry']].sum().reset_index()

,school_id,state_code,subjects,english,history,literature,maths,social_studies
2,sch_5,sc1,social_studies maths literature,0,0,1,1,1
3,sch_6,sc10,english maths history,1,1,0,1,0